$color-white: hsl(0, 0%, 100%);
$color-grey-light: hsl(212, 45%, 89%);
$color-grey-blue: hsl(220, 15%, 55%);
$color-blue-dark: hsl(218, 44%, 22%);

$bp-largest: 68.75em; // 1100px
$bp-large: 56.25em; // 900px
$bp-medium: 43.75em; // 700px
$bp-small: 25em; // 400px

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color-scheme: dark light;
}

body {
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  background-color: $color-grey-light;

  display: grid;
  place-items: center;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.container {
  width: 20%;
  text-align: center;
  background-color: $color-white;
  border-radius: 1.5rem;
  padding: 2rem;

  @media only screen and (max-width: $bp-largest) {
    width: 25%;
  }

  @media only screen and (max-width: $bp-large) {
    width: 30%;
  }

  @media only screen and (max-width: $bp-medium) {
    width: 40%;
  }

  @media only screen and (max-width: $bp-small) {
    width: 80%;
  }

  & > * {
    margin-bottom: 2rem;
  }

  &__qr {
    width: 100%;
    border-radius: 0.75rem;
    overflow: hidden;
  }

  &__img {
  }

  &__text {
  }

  &__heading {
    font-size: 2rem;
    color: $color-blue-dark;
    font-weight: 700;
  }

  &__sub {
    font-size: 1.5rem;
    color: $color-grey-blue;
    font-weight: 400;
  }
}
